
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<h1 class="content-holder-title-menu" style="padding-left: 25px">Sign up</h1>
  
<div class="container">

  <div class="col-md-1"></div>
  <div class="col-md-10 content-holder">
    <div class="row edit-form-row">
      <div class="col-md-2"></div>
        <div class="col-md-6">

          <div class="form-group">
              <span class="text-muted"><%= f.label :email %><br /></span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"edit-form-group" %>
            </div>

            <div class="form-group">
              <span class="text-muted"><%= f.label :name %><br /></span>
              <%= f.text_field :name, class:"edit-form-group" %>
            </div>

            <div class="form-group">
              <span class="text-muted"><%= f.label :password %></span>
              <% if @minimum_password_length %>
              <span class="text-muted"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"edit-form-group" %>
            </div>

            <div class="form-group">
              <span class="text-muted"><%= f.label :password_confirmation %><br /></span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"edit-form-group" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class:"btn btn-primary btn-md" %>
            </div>
            </br>
              <%= render "devise/shared/links" %>

        </div>
    </div>
</div>
<% end %>
</div>



