<h1>User#show</h1>

  <ul>
    <li>User id:  <%= @user.id %></li>
    <li>User name:  <%= @user.name %></li>
    <li>User email:  <%= @user.email %></li>
    <li>Activity status:  <%= @user.activity %></li>
  </ul>

<h2>Itmes what belongs this user:</h2>

<% @stationeries.each do |stationery| %>
  <ul>
    <% if stationery.user.id == @user.id %>
      <li>Item id:  <%= stationery.id %></li>
      <li>Product code:  <%= stationery.id %></li>
      <li>Name of the product:  <%= link_to stationery.name, stationery_path(stationery) %></li>
      <li>Consumable:  <%= stationery.consumable %></li>
      <% if time_different(stationery.updated_at) >= 2 && !(stationery.user.role.to_s == "admin") && stationery.consumable.to_s == "false" %>
      <li style="color:red">This Itme should have been returned already</li>
      <% end %>
    <% end %>
    </br>
  </ul>
<% end %>

</br>
</br>
</br>

<% if logged_in?(:admin) %>
  <%= link_to "Edit user", edit_user_path(@user) %></br>
  <%= link_to "Back For User List", users_path %></br>
<% end %>
  <%= link_to "Back For Item List", stationeries_path %></br>

