<h1 class="content-holder-title-menu" style="padding-left: 25px">Details of User: <%= @user.name %></h1>

<div class="container">
  <div class="col-md-12 content-holder">
   <div class="row show-form-row">
    <ul>
      <li class="col-md-3 text-muted">User id:  <span style="color:black"><%= @user.id %></li></span>
      <li class="col-md-3 text-muted">User name:  <span style="color:black"><%= @user.name %></li></span>
      <li class="col-md-3 text-muted">User email:  <span style="color:black"><%= @user.email %></li></span>
      <li class="col-md-3 text-muted">Activity status:  <span style="color:black"><%= @user.activity %></li></span>
    </ul>
   </div>
  </div>
</div>

<h4 class="content-holder-title-menu" style="padding-left: 25px">Items what belongs this user:</h4>

<div class="container">

  <div class="content-holder-user">
   <% @stationeries.each do |stationery| %>
     <ul class="list-inline mx-auto justify-content-center">
       <% if stationery.user.id == @user.id %>
         <li class="col-md-2 text-muted">Item id:  <span style="color:black"><%= stationery.id %></li></span>
         <li class="col-md-2 text-muted">Product code:  <span style="color:black"><%= stationery.id %></li></span>
         <li class="col-md-2 text-muted">Name of the product:  <span style="color:black"><%= link_to stationery.name, stationery_path(stationery) %></li></span>
         <li class="col-md-2 text-muted">Consumable:  <span style="color:black"><%= stationery.consumable %></li></span>
        
         <% if time_different(stationery.updated_at) >= 2 && !(stationery.user.role.to_s == "admin") && stationery.consumable.to_s == "false" %>
            <li class="col-md-2 text-muted" style="color: red">
              This Item should have been returned already
            </li>
         <% end %> 
       <% end %>
     </ul>
     <hr>
   <% end %>
  </div>
</div>




<div class="col-md-2 content-holder-bottom-menu">
  <% if logged_in?(:admin) %>
    <%= link_to "Edit User", edit_user_path(@user), style:"font-size:125%;padding-left: 35px" %></br>
    <%= link_to "Back For User List", users_path, style:"font-size:125%;padding-left: 35px" %></br>
  <% end %>
    <%= link_to "Back For Item List", stationeries_path, style:"font-size:125%;padding-left: 35px" %></br>
</div>
