<h1>User#show</h1>

  <ul>
    <li>User id:  <%= @user.id %></li>
    <li>User name:  <%= @user.name %></li>
    <li>User email:  <%= @user.email %></li>
    <li>Activity status:  <%= @user.activity %></li>
  </ul>

<h2>Itmes what belongs this user:</h2>
<% @stationeries.each do |stationery| %>
  <ul>
    <% if stationery.user.id == @user.id %>
    <li><%= stationery.id %></li>
    <li><%= stationery.name %></li>
    <% end %>
  </ul>
<% end %>
</br>
</br>
</br>

  <%= link_to "Edit user", edit_user_path(@user) %></br>
  <%= link_to "Back For User List", users_path %></br>
  <%= link_to "Back For Item List", stationeries_path %></br>
  <%= link_to "Back For Item List", stationeries_path %>

