<h1 class="content-holder-title-menu" style="padding-left: 25px">Details of User: <%= @user.name %></h1>

<div class="container">
  <div class="col-md-12 content-holder">
   <div class="row show-form-row">
    <ul>
      <li class="col-md-3 text-muted">User id:  <span style="color:black"><%= @user.id %></li></span>
      <li class="col-md-3 text-muted">User name:  <span style="color:black"><%= @user.name %></li></span>
      <li class="col-md-3 text-muted">User email:  <span style="color:black"><%= @user.email %></li></span>
      <li class="col-md-3 text-muted">Activity status:  <span style="color:black"><%= @user.activity %></li></span>
    </ul>
   </div>
  </div>
</div>

<h2 class="content-holder-title-menu" style="padding-left: 25px">Items what belongs this user:</h2>

<% @stationeries.each do |stationery| %>
  <ul>
    <% if stationery.user.id == @user.id %>
      <li>Item id:  <%= stationery.id %></li>
      <li>Product code:  <%= stationery.id %></li>
      <li>Name of the product:  <%= link_to stationery.name, stationery_path(stationery) %></li>
      <li>Consumable:  <%= stationery.consumable %></li>
      <% if time_different(stationery.updated_at) >= 2 && !(stationery.user.role.to_s == "admin") && stationery.consumable.to_s == "false" %>
      <li style="color:red">This Itme should have been returned already</li>
      <% end %>
    <% end %>
  </ul>
  </br>
<% end %>

</br>
</br>
</br>

<% if logged_in?(:admin) %>
  <%= link_to "Edit user", edit_user_path(@user) %></br>
  <%= link_to "Back For User List", users_path %></br>
<% end %>
  <%= link_to "Back For Item List", stationeries_path %></br>

