<h1 style="padding-left: 25px">Statinery#edit</h1>

<div class="col-md-1">
</div>

<div class="col-md-11 content-holder">

<h2>Welcome:  <%= current_user.name %></h2>
<h2>Your user id is:  <%= current_user.id %></h2>

  <% unless logged_in?(:admin) %>

  	<%= render 'form_for_others' %>

  <% end %>

  <% if logged_in?(:admin) %>

  	<%= render 'form_for_admin' %>

  <% end %>
<%= link_to "Back for index page", stationeries_path %>

</div>
