<h1 class="content-holder-title-menu" style="padding-left: 25px">List of the Items in the system</h1>


<% if logged_in?(:admin) %>
      <%= link_to "Put new Stationery into the list" , new_stationery_path, class:"btn btn-success btn-lg",  style:"margin-left: 10%;margin-bottom:25px;" %>
<% end %>




<div class="container content-holder">
   
	<% unless current_user %>
  		<h3 style="text-align: center;">For the items borrowing - site using, please <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> on this Site first!</h3>
	<% end %>

</br>

  <div class="staionery_container">
    <% @stationeries.each do |stationery| %>
      <% if logged_in?(:admin) %>
         <ul class="list-inline mx-auto justify-content-center">
           <li class="col-md-2 text-muted">Item Id:  <span style="color:black"><%= stationery.id %></li></span>
           <li class="col-md-2 text-muted">Location:  <span style="color:black"><%= stationery.cupboard %></li></span>
           <li class="col-md-2 text-muted">Item name:  <span style="color:black"><%= link_to stationery.name, stationery_path(stationery) %></li></span>
           <li class="col-md-2 text-muted">Product code:  <span style="color:black"><%= stationery.product_code %></li></span>
           <li class="col-md-2 text-muted">Available:  <span style="color:black"><%= stationery.availability %></li></span>
           <li class="col-md-2 text-muted">Belongs user with ID:  <span style="color:black"><%= stationery.user.id %></li></span>
           <li class="col-md-2 text-muted">Belongs user with role:  <span style="color:black"><%= stationery.user.role%></li></span>
           <li class="col-md-2 text-muted">User name:  <%= link_to stationery.user.name, user_path(stationery.user) %></li>       
          </ul>
         <% if time_different(stationery.updated_at) >= 2 && !(stationery.user.role.to_s == "admin") && stationery.consumable == false %>
           <h4 style="color:red">This Item should have been returned into the warehouse already</h4>
         <% end %>
         <hr>
    <% elsif logged_in?(:editor) %>  
      <% if stationery.availability == true %>
	      <ul class="list-inline text-center justify-content-center">
		      <li class="col-md-2 text-muted">Item Id:  <span style="color:black"><%= stationery.id %></li></span>
       	      <li class="col-md-2 text-muted">Location: <span style="color:black"><%= stationery.cupboard %></li></span>
		      <li class="col-md-2 text-muted">Item name:  <span style="color:black"><%= stationery.name %></li></span>
		      <li class="col-md-2 text-muted">Product code:  <span style="color:black"><%= stationery.product_code %></li></span>
              <li class="col-md-2 text-muted">Consumable:  <span style="color:black"><%= stationery.consumable  %></li>
             <% if current_user.activity == true %></span>
              <li><%= link_to "Take the Item", edit_stationery_path(stationery), class:"btn btn-primary btn-sm" %></li>
             <% else %>
               <p style="color:red">Your account has been blocked</p>
             <% end %>
	      </ul>
          <hr>
   	   <% end %>
     <% end %>
   <% end %>
  </div>

</div>