<div class="container staionery_container">
   
	<% unless current_user %>
  		<h3>For the items, please <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> first</h3>
	<% end %>

	<% if logged_in?(:admin) %>
  		<%= link_to "Put new Stationery into the list" , new_stationery_path, class:"btn btn-success btn-lg" %>
	<% end %>
	</br>
	</br>
	</br>

  <div class="staionery_container">
    <% @stationeries.each do |stationery| %>
      <% if logged_in?(:admin) %>
         <ul class="list-inline mx-auto justify-content-center">
           <li>Item Id:  <%= stationery.id %></li>
           <li>Location:  <%= stationery.cupboard %></li>
           <li>Item name:  <%= link_to stationery.name, stationery_path(stationery) %></li>
           <li>Product code:  <%= stationery.product_code %></li>
           <li>Available:  <%= stationery.availability %></li>
           <li>Belongs user with ID:  <%= stationery.user.id %></li>
           <li>Belongs user with role:  <%= stationery.user.role%></li>
           <li>User name:  <%= link_to stationery.user.name, user_path(stationery.user) %></li>       
          </ul>
         <% if time_different(stationery.updated_at) >= 2 && !(stationery.user.role.to_s == "admin") && stationery.consumable == false %>
           <h4 style="color:red">This Itme should have been returned into the warehouse already</h4>
         <% end %>
         <hr>
    <% elsif logged_in?(:editor) %>  
      <% if stationery.availability == true %>
	      <ul class="list-inline text-center justify-content-center">
		      <li>Item Id:  <%= stationery.id %></li>
       	      <li>Location: <%= stationery.cupboard %></li>
		      <li>Item name:  <%= stationery.name %></li>
		      <li>Product code:  <%= stationery.product_code %></li>
              <li>Consumable:  <%= stationery.consumable  %></li>
             <% if current_user.activity == true %>
              <li><%= link_to "Take the Item", edit_stationery_path(stationery), class:"btn btn-primary btn-sm" %></li>
             <% else %>
               <p style="color:red">Your account has been blocked</p>
             <% end %>
	      </ul>
          <hr>
   	   <% end %>
     <% end %>
   <% end %>
  </div>

</div>