<h1 class="content-holder-title-menu" style="padding-left: 25px">Create a new Stationery Item</h1>

<div class="container">
 <div class="col-md-11 content-holder">

	<h3 class="text-muted">Welcome:  <span style="color:black"><%= current_user.name %></span></h3>
	<h3 class="text-muted">Your user id is:  <span style="color:black"><%= current_user.id %></span></h3>



  <%= form_for(@stationery) do |f| %>
	
	<% if @stationery.errors.any? %>
		<ul>
		  <% @stationery.errors.full_messages.each do |msg| %>
		  	<li><%= msg %></li>
		  <% end %>
		</ul>
	<% end %>

  <div class="row edit-form-row">
    <div class="col-md-2">
    </div>

    <div class="col-md-10">
      <div class="form-group">	
	   <span class="text-muted"><%= f.label :name%></span>
	   <%= f.text_field :name, class:"edit-form-group"%>
	  </div>

      <div class="form-group">	
	   <span class="text-muted"><%= f.label :product_code%></span>
	   <%= f.text_field :product_code, class:"edit-form-group"%>
	  </div>

      <div class="form-group">
	   <span class="text-muted"><%= f.label :cupboard%></span>
	   <%= f.text_field :cupboard, class:"edit-form-group"%>
	  </div>

      <div class="form-group">
	   <span class="text-muted"><%= f.label :available%></span>
	   <%= f.check_box :availability, {checked: true}, class:"edit-form-group"%>
	  </div>

      <div class="form-group">
	   <span class="text-muted"><%= f.label :consumable%></span>
	   <%= f.check_box :consumable, class:"edit-form-group"%>
      </div>


	  <%= f.submit "Create Item", class:"btn btn-success btn-md" %>

  
    </div>
  <% end %>

  </div>
 </div>
</div>

<div class="col-md-2 content-holder-bottom-menu">
	<%= link_to "Back for index page", stationeries_path, style:"font-size:125%;padding-left: 35px" %>
</div>


