<h1>Statinery#new</h1>

<%= form_for(@stationery) do |f| %>

	<%= f.label :name%>
	<%= f.text_field :name%>

	<%= f.label :product_code%>
	<%= f.text_field :product_code%>

	<%= f.label :available%>
	<%= f.check_box :availability%>

	<%= f.label :consumable%>
	<%= f.check_box :consumable%>

	<%= f.submit %>

<% end %>

<%= link_to "Back for index page", stationeries_path %>