<h1>Statinery#new</h1>

<%= form_for(@stationery) do |f| %>
	
	<% if @stationery.errors.any? %>
		<ul>
		  <% @stationery.errors.full_messages.each do |msg| %>
		  	<li><%= msg %></li>
		  <% end %>
		</ul>
	<% end %>
	
	<%= f.label :name%>
	<%= f.text_field :name%>

	<%= f.label :product_code%>
	<%= f.text_field :product_code%>

	<%= f.label :cupboard%>
	<%= f.text_field :cupboard%>

	<%= f.label :available%>
	<%= f.check_box :availability, {checked: true}%>

	<%= f.label :consumable%>
	<%= f.check_box :consumable%>

	<%= f.submit %>

<% end %>
</br>
<%= link_to "Back for index page", stationeries_path %>