<h1>Statinery#show</h1>
<h3><%= @stationery.name %></h3>
<p><%= @stationery.product_code %></p>
<p><%= @stationery.consumable %></p>

<%= link_to "Edit statinery details", edit_stationery_path(@stationery) %>
<%= link_to "Delete stationery", stationery_path(@stationery), method: :delete, data: {confirm: "Are you sure, you want to remove the item from the list"} %>